.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 74%;
}

.col-3 {
    background-color: #3d90b0;
    height: 50em;
}
.container-fluid {
    background-color: beige;
    min-height: 50em;
}
li.list-group-item.list-group-item-success {
    border-radius: 20px;
    margin-bottom: 1em;
    max-width: 15em;
}
